<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lessons.Properties.Settings.LessonsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Disk_T\TEO\Store\Works\Csharp Lessons\02 Data Access\Lessons.MDB&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>